.section-title {
    text-align: center;
    font-size:  4rem;
    font-family: "Cormorant Garamond";
    padding-top: 5rem;
}

.section-subtitle{
    margin-top: -3rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    color: #afafaf;
    font-weight: 300;
    position: relative;
}

/* Book */
.book {
    height: 80vh;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("o\ \(1\).jpg") no-repeat center;
    background-size: cover;
}

.book-card {
    width: 80%;
    background-color: #fff;
    margin: 6rem auto;
    border-radius: 10px;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
    padding-bottom: 5rem;
}

.book-card h3 {
    margin-bottom: 5rem;
}

.form-group {
    width: 100%;
    text-align: center;
    margin-bottom: 5rem;
}

input {
    border: transparent;
    border-bottom: 2px solid #ccc;
    transition: all 0.8s;
    width: 70%;
}

input:focus {
    border-bottom: 2px solid #ff7417;
    outline: none;
}

select {
    border: transparent;
    border-bottom: 2px solid #ccc;
}

select:focus {
    outline: none;
}

.btn-book {
    display: flex;
    justify-content: center;
    transform: translateY(5rem);
    font-size: 1.4rem;
}
.two-columns-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.three-columns-grid{
    padding-left: 5rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 5rem;
    margin: 0 auto;
    text-align: center;
}
.book-card a {
    padding: 15px 40px;
    background: yellowgreen;
    color: black;
    border-radius: 50px;
    font-size: 25px;
    opacity: 0.5;
    animation: bookAnimation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    transition: 0.3s;
}
@keyframes bookAnimation {
    0% {
        opacity: 0.4;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0.4;
    }
}
/* Footer
.footer {
    height: 20vh;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright {
    color: #afafaf;
    font-size: 2rem;
    text-align: center;
}

@media only screen and (max-width: 1024px) {
    .paragraph {
        margin: 0 auto;
        max-width: 500px;
    }

    .tart {
        max-height: 500px;
        object-fit: contain;
    }

    .nav-list {
        width: 80%;
    }

    .four-columns-grid {
        grid-template-columns: 1fr 1fr;
        text-align: center;
    }

    .three-columns-grid {
        grid-template-columns: 1fr;
    }

    .two-columns-grid {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .customers {
        padding-top: 25rem;
    }

    .footer {
        margin-top: 30rem;
    }
}

@media only screen and (max-width: 768px) {
    .customers {
        padding-top: 30rem;
    }

    .slick-prev::before,
    .slick-next::before {
        display: none;
    }
}

@media only screen and (max-width: 500px) {
    .premium {
        width: 200px;
    }

    .title {
        font-size: 6rem;
    }

    .go-top {
        right: 2rem;
        bottom: 2rem;
    }

    .paragraph {
        margin-bottom: 3rem;
        margin-top: -3rem;
    }

    .four-columns-grid {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .carousel div {
        width: 350px;
    }

    .customers {
        padding-top: 45rem;
    }

    .book-card {
        width: 100%;
    }

    .book-title {
        font-size: 2rem;
    }

    .book-card .section-subtitle {
        font-size: 1rem;
    }

    .three-columns-grid {
        grid-gap: 0;
    } */